{% extends "workshops/workshop_overview.html" %}
{% load static %}
{% block content %}
{%load crispy_forms_tags %} 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paper Submitted Correctly</title>
  <link rel="stylesheet" href="{% static 'ceur_ws_workshops/workshops/static/workshops/styles.css' %}">
</head>

<h2 class="header-title">Submit Paper</h2>

<!-- Paper Form -->
<form method="post" id="form-container" enctype="multipart/form-data">
  <fieldset>
    {% csrf_token %}
    <legend>Paper Details</legend>
    <!-- {{ paper_form.as_p }} -->
    {{ paper_form|crispy }}
  </fieldset>
  
  <fieldset id="author-fieldset">
    {{author_formset.management_form}}
    <div id="author-form" class="author-form">
      {% for author in author_formset %}
      
      {{ author|crispy}}
      {% endfor %}
    </div>
    <input type="button" value="Add Author" class="button-13" id="add_author">
  </fieldset>
  <br>
  <div class="submit-container">
  <input type="submit" name="save_button" class="button-13" value="Save Paper">
</div>
</form>

<div id="empty_author_form" style="display:none">
  <table class='no_error'>
    {{ author_formset.empty_form|crispy }}
    <br>
  </table>
  <hr>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $('#add_author').click(function () {
    var form_idx = $('#id_author-TOTAL_FORMS').val();
    $('#author-form').append($('#empty_author_form').html().replace(/__prefix__/g, form_idx));
    $('#id_author-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });
</script>

{% endblock %}