{% extends "workshops/workshop_edit_success.html" %}
{% load static %}
{% block content %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paper Submitted Correctly</title>
  <link rel="stylesheet" href="{% static 'ceur_ws_workshops/workshops/static/workshops/styles.css' %}">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
</head>



<h2 class="header-title">Submit Paper</h2>

<!-- Paper Form -->
<form method="post" id="form-container" enctype="multipart/form-data">

  <fieldset>
    {% csrf_token %}
    <legend>Paper Details</legend>
    {{ paper_form.as_p }}
  </fieldset>

  <hr>
  <fieldset id="author-fieldset">
    {{author_formset.management_form}}
    <div id="form-set">
      {% for form in author_formset %}
      <div class="author-form">
        {{form.as_p}}
        <hr>
      </div>
      {% endfor %}
    </div>
    <button id="add-form" type="button" class="button-13">Add Author</button>
  </fieldset>
  <br>
  
  
  <input type="submit" name="save_button" class="button-13" value="Save Paper">
</form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let addButton = document.querySelector("#add-form");
    let formSet = document.querySelector("#author-fieldset");
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS");

    function addForm(e) {
      e.preventDefault();

      let formNum = formSet.querySelectorAll(".author-form").length - 1;
      let newForm = formSet.querySelector(".author-form").cloneNode(true);
      let formRegex = RegExp(`form-(\\d+)-`, 'g');

      formNum++;
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`);

      formSet.insertBefore(newForm, addButton);

      totalForms.value = formNum + 1;
    }

    addButton.addEventListener('click', addForm);
  });

</script>

{% endblock %}