
{%extends 'workshops/index.html'%}
{% load static %}

{% block content %}

<h1>Add Author</h1>

<div class="form-container">
    <h1 class="header-title">Add Author</h1>

    <form action="{% url 'workshops:add_author' %}" method="post" >
        {% csrf_token %}
        <label for="author_name">Author name:</label>
        <input type="text" id="author_name" name="author_name" class="input-stripe-style"><br>
        <input type="submit" value="Add Author" class="button-17">
    </form>
</div>

{% endblock %}