{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper Submitted Correctly</title>
    <link rel="stylesheet" href="{% static 'ceur_ws_workshops/workshops/static/workshops/styles.css' %}">
</head>
<body>

    <h1>Paper Submitted Correctly</h1>
    
    <fieldset class="paper-details">
        <legend>Paper Details</legend>
        
        <p><p>Your author and metadata have been successfully uploaded to <strong>{{ workshop.workshop_title }}</strong>.</p>

        <p><strong>Paper Title:</strong> {{ paper.paper_title }}</p>
        <p><strong>Pages:</strong> {{ paper.pages }}</p>
        <!-- {% if paper.uploaded_file %} -->
        <p><strong>Uploaded File:</strong> <a href="{{ paper.uploaded_file.url }}" target="_blank">{{ paper.uploaded_file.name }}</a></p>
        <!-- {% endif %} -->
        <p><strong>Paper Author Names:</strong>
            <ul>
                {% for author in paper.authors.all %}
                    <li>{{ author.author_name }}</li>
                {% endfor %}
            </ul>
        </p>
    </fieldset>
    <form method="post" class="edit-form">
        {% csrf_token %}
        <div class="button-group">
            <input type="submit" value="Edit details" class="button-17">
        </div>
    </form>

    <!-- You can provide additional content or links here as needed. -->

</body>
</html>
{% endblock %}
