
{% block content %}
    <h1>Are all the details correct?</h1>
    
    <p><strong>Workshop:</strong> {{ workshop.workshop_title }}</p>

    <p><strong>Workshop Editors:</strong>
    {% for editor in editors %}
    <br>
      <br>{{ editor.name }}
    {% endfor %}
      
    <p><strong>Author Name:</strong> {{ author_data.author_name }}</p>
    <p><strong>Paper Title:</strong> {{ author_data.paper_title }}</p>
    <p><strong>Pages:</strong> {{ author_data.pages }}</p>

    <p><strong>Paper uploaded:</strong>{{author_data.uploaded_file}}</p>
    
    
      {% csrf_token %}
    <div class="button-group">
        <input type = button value = "Edit details" onclick="javascript:history.go(-1)" >
        <form action="{% url 'workshops:confirm_and_save_author_data' %}" method="post">
          {% csrf_token %}
          <button type="submit">Confirm details</button>
      </form>
      </div>
    <!-- You can provide additional content or links here as needed. -->
    
{% endblock %}


