{% block content %}
    <h1>Are all the details correct?</h1>
    
    <p><strong>Workshop:</strong> {{ paper.workshop.workshop_title }}</p>

    <p><strong>Workshop Editors:</strong>
        <ul>
            {% for editor in editors %}
                <li>{{ editor.name }}</li>
            {% endfor %}
        </ul>
    </p>

    <p><strong>Author Names:</strong>
        <ul>
            {% for author in paper.authors.all %}
                <li>{{ author.author_name }}</li>
            {% endfor %}
        </ul>
    </p>

    <p><strong>Paper Title:</strong> {{ paper.paper_title }}</p>
    <p><strong>Pages:</strong> {{ paper.pages }}</p>
    <p><strong>Paper uploaded:</strong> {{ paper.uploaded_file }}</p>
    
    
    {% csrf_token %}
    <div class="button-group">
        <input type="button" value="Edit details" onclick="javascript:history.go(-1)">
        <a type="button" href="{% url 'workshops:author_overview' paper_id=paper.id %}" class="button">Confirm details</a>
    </div>
    <!-- You can provide additional content or links here as needed. -->
    
{% endblock %}
