{% extends 'workshops/index.html' %}
{% load static %}
{% block content %}


<form method="post" id="form-container" enctype="multipart/form-data">
  <h1 class="header-title">Create Workshop Volume</h1>
  <fieldset>
    {% csrf_token %}
    {{ form.as_p }}
    
  </fieldset>
  <hr>
  
  <fieldset id="editor-fieldset">
    {{ editor_form.management_form }}
    <div id="form-set">
      {% for form in editor_form %}
      <div class="editor-form">
        {{ form.as_p }}
        <hr>
      </div>
      {% endfor %}
      
    </div>
    <button id="add-form" class="button-13">Add Editor</button>
  </fieldset>
  <br>
  <input type="submit" class="button-13" value="Save Workshop">
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let addButton = document.querySelector("#add-form");
    let formSet = document.querySelector("#editor-fieldset");
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS");

    function addForm(e) {
      e.preventDefault();

      let formNum = formSet.querySelectorAll(".editor-form").length -1;
      let newForm = formSet.querySelector(".editor-form").cloneNode(true);
      let formRegex = RegExp(`form-(\\d+)-`, 'g');

      formNum++;

      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`);
      formSet.insertBefore(newForm, addButton);

      totalForms.value = formNum + 1;

    }

    addButton.addEventListener('click', addForm);
  });
</script>


{% endblock %}