{% extends 'workshops/index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %} 

<style>
  .close-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem; 
  cursor: pointer;
  color: #000; 
}

.close-button:hover {
  color: #f00;
}
</style>
{% comment %} <form method="post" id="form-container" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="submit-container">
    <input type="submit" class="button-13" value="Save Workshop 1">
  </div>
</form> {% endcomment %}
<form method="post" id="form-container" enctype="multipart/form-data" >
  <h1 class="header-title">Create Workshop Volume</h1>
  {% csrf_token %}

  <fieldset>
    <legend>Workshop Details</legend>

    Please provide details about the workshop in the following section. Please take into account the following rules:
    <ul>
      <li>If your workshop is colocated with another workshop, please fill out this form <u>only once</u> and provide the name with which this workshop was colocated in the correct field.</li>
      <li>Fields denoted with an asterisk are required fields.</li>
      <li>Optional fields can be left blank if they are not applicable.</li>
    </ul>

    {{ form|crispy }}
    <input type="hidden" name="openreview_url" value="{{ openreview_url }}">
    <input type="hidden" name="workshop_id" value="{{ form.instance.id }}">

  </fieldset>
  <fieldset id="preface-fieldset">
    <legend>Prefaces</legend>
    {{ preface_formset.management_form }}
    <div id="preface-form">
        {% for form in preface_formset %}
            <div class="preface-form" style="position: relative;">
                {{ form.as_p }}
                <input type="button" value = "&times;" class="delete-preface close-button" style="position: absolute; top: 0; right: 0;">
                {{ form.DELETE }} 
            </div>
        {% endfor %}
    </div>
    <input type="button" value = "Add Preface" class="button-13"  id="add_preface">
</fieldset>

  <fieldset id="session_fieldset">
    <legend>Session</legend>
    <i> If the workshop has different sessions, please provide the titles of these sessions in this section. If no
      splits exist, please leave blank.</i>
    <br>
    <br>
    {{ session_form.management_form }}
    <div class="session-form" id="session-form">
      {% for form in session_form %}
        {{ form.as_p }}
        <input type="button" value = "&times;" class="delete-session close-button" style="position: absolute; top: 0; right: 0;">
        {{ form.DELETE }} 
        <br>
      {% endfor %}
    </div>
    <input type="button" value="Add Session" class="button-13" id="add_session">
  </fieldset>

  <fieldset id="editor-fieldset">
    <legend>Editors</legend>
    <i> Please provide details on the editors in this section. Also provide your own details if you are also an editor.
    </i>
    <br>
    <br>
    {{ editor_form.management_form }}
    <div class="editor-form" id="editor-form">
      {% for editor in editor_form %}
        {{ editor|crispy }}
        <input type="button" value = "&times;" class="delete-session close-button" style="position: absolute; top: 0; right: 0;">
        {{ form.DELETE }} 
        <br>
      {% endfor %}
    </div>
    <input type="button" value="Add Editor" class="button-13" id="add_editor">
  </fieldset>
  <br>
  <div class="submit-container">
    <input type="submit" class="button-13" value="Save Workshop">
  </div>
</form>

<div id="empty_preface_form" style="display:none">
  <div class="preface-form" style="position: relative;">
      {{ preface_formset.empty_form.as_p }}
      <input type="button" value = "&times;" class="delete-preface close-button" style="position: absolute; top: 0; right: 0;">
      {{ preface_formset.empty_form.DELETE }} 
      <hr>
  </div>
</div>

<div id="empty_editor_form" style="display:none">
  <div class="editor-form" style="position: relative;">
    {{ editor_form.empty_form|crispy }}
    <input type="button" value = "&times;" class="delete-editor close-button" style="position: absolute; top: 0; right: 0;">
    {{ editor_form.empty_form.DELETE }} 
    <br>
    <hr>
  </div>
</div>

<div id="empty_session_form" style="display:none">
  <div class="session-form" style="position: relative;">
    {{ session_form.empty_form }}
    <input type="button" value = "&times;" class="delete-session close-button" style="position: absolute; top: 0; right: 0;">
    {{ session_form.empty_form.DELETE }} 
    <br>
    <hr>
  </div>
</div>

{% endblock %}
