{% extends "workshops/author_upload.html" %}
{% load static %}
{% block content %}
{%load crispy_forms_tags %} 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'workshops/style.css' %}">
  
</head>

<p class="header-title">Are all the details correct?</p>
<form id="validation-form" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <fieldset>

    <legend>Paper Data</legend>
    Please make sure all details are correct.
    <ul>
      <li> Download the agreement file below and <b> sign </b> it. You can subsequently upload it below.</li>
      <li> If any details are missing or incorrect on the agreement file please return to the previous page. </li>
    </ul>
    <br><br> 
    <a id = "organizer_url" href="{{download_url.url}}" download> Download the agreement form</a>
    <br><br>
    {{ paper_form|crispy }}

    <input type="hidden" name="secret_token" value="{{ paper_instance.secret_token }}">
  {% if paper_form.instance.uploaded_file%}
  <p>Currently uploaded Paper: <a href ="{{paper_form.instance.uploaded_file.url}}">{{ paper_form.instance.uploaded_file.name }}</a> </p>
  {%endif%}
  </fieldset>
  <fieldset id="author-fieldset">
    {{ author_formset.management_form }}
    <div id="author-form">
      {% for form in author_formset %}
        <div class="author-form" style="position: relative;">
          {{ form|crispy }}
          {% comment %} <input type="button" value="&times;" class="delete-author close-button" style="position: absolute; top: 0; right: 0;"> {% endcomment %}
          <hr>
        </div>
      {% endfor %}
    </div>
    <input type="button" value="Add Author" class="button-13" id="add_author">
  </fieldset>
  <br>
  <div class="submit-container">
    <input type="submit" name="confirm_button" class="button-13" value="Confirm">
  </div>
</form>

<div id="empty_author_form" style="display:none">
  <div class="author-form" style="position: relative;">
    {{ author_formset.empty_form|crispy }}
    {% comment %} <input type="button" value="&times;" class="delete-author close-button" style="position: absolute; top: 0; right: 0;"> {% endcomment %}
    <hr>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let messages = Array.from(document.querySelectorAll('#django-messages [data-message]')).map(el => el.getAttribute('data-message'));
  });
</script>
{% endblock %}
