{% extends "workshops/create_workshop.html" %}
{% block content %}
{%load crispy_forms_tags %} 
  <p class="header-title">Are all the details correct?</p>
  <form id="validation-form" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    
    <fieldset>
      <legend>Workshop Details</legend>
      <style>
        .errorlist {
          color: #721c24;
          background-color: #f8d7da;
          border-color: #f5c6cb;
          position: relative;
          padding: .75rem 1.25rem;
          margin-bottom: 1rem;
          border: 1px solid transparent;
          border-radius: .25rem;
          text-align: center;
          font-weight: bold;
        }
    </style>
    {% crispy form %}
    
    <i>Currently uploaded file: <a href ="{{form.instance.editor_agreement.url}}">{{ form.instance.editor_agreement.name }}</a></i>
    <input type="hidden" name="workshop_id" value="{{ workshop_instance.id }}">

    </fieldset>

    <fieldset>
      {{ session_form.management_form}}
      <div class="session-form" id="session-form">
        {% for form in session_form%}
          {{ form.as_p }}
          
          {% endfor %}
        </div>
   <input type="button" value="Add Session" class="button-13" id="add_session">
  </fieldset>
    <fieldset>
      {{ editor_form.management_form}}
      <div class="editor-form" id="editor-form">
        {% for form in editor_form%}
          {{ form.as_p }}
          <hr>
      {% endfor %}

          
        </div>
   <input type="button" value="Add Editor" class="button-13" id="add_editor">
  </fieldset>

  <div class="submit-container">
    <input type="submit" name = "submit_button "class="button-13" value="Confirm">
  </div>
  </form>

{% comment %} logic for session button {% endcomment %}
<div id="empty_session_form" style="display:none">
  <table class='no_error'>
      {{ session_form.empty_form.as_p }}
      <br>
  </table>
  <hr>
</div>
<div id="empty_editor_form" style="display:none">
  <table class='no_error'>
      {{ editor_form.empty_form.as_p }}
      <br>

  </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $('#add_editor').click(function() {
    var form_idx = $('#id_editor-TOTAL_FORMS').val();
    $('#editor-form').append($('#empty_editor_form').html().replace(/__prefix__/g, form_idx));
    $('#id_editor-TOTAL_FORMS').val(parseInt(form_idx) + 1);});

  $('#add_session').click(function() {
    var form_idx = $('#id_session-TOTAL_FORMS').val();
    $('#session-form').append($('#empty_session_form').html().replace(/__prefix__/g, form_idx));
    $('#id_session-TOTAL_FORMS').val(parseInt(form_idx) + 1);});
</script>

{% endblock %}
