{% extends "workshops/author_upload.html" %}
{% load static %}
{% block content %}
{%load crispy_forms_tags %} 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'ceur_ws_workshops/workshops/static/workshops/style.css' %}">
</head>
<p class="header-title">Are all the details correct?</p>
<form id="validation-form" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <fieldset>
  <style>
    .errorlist {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      position: relative;
      padding: .75rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: .25rem;
      text-align: center;
      font-weight: bold;
    }
  </style>
    <legend>Paper Data</legend>
    Don't forget to download the agreement form in order to sign it. If any details are wrong, or missing, just go back. 

    <br><br> 
    <a id = "organizer_url" href="{{download_url.url}}" download> Download the agreement form</a>
    <br><br>
    {{ paper_form|crispy }}
    {%comment%}
    {% if paper_form.paper_title.errors %}
      <div class="errorlist">
        {{ paper_form.paper_title.errors }}
      </div>
    {% endif %}
    {%endcomment%}

    <input type="hidden" name="secret_token" value="{{ paper_instance.secret_token }}">

  <p>Currently uploaded Paper: <a href ="{{paper_form.instance.uploaded_file.url}}">{{ paper_form.instance.uploaded_file.name }}</a> </p>
  </fieldset>
  <fieldset id="author-fieldset">
    {{ author_formset.management_form}}
    <div id="author-form" class="author-form">
      {% for form in author_formset %}
        {{form|crispy}}
          <hr>
      {% endfor %}
    </div>
    <input type="button" value="Add Author" class="button-13" id="add_author">
  </fieldset>
  <br>
  <div class = "submit-container">
  <input type="submit" name="confirm_button" class="button-13" value="Confirm">
</div>
</form>

<div id="empty_author_form" style="display:none">
  <table class='no_error'>
    {{ author_formset.empty_form|crispy }}
    <!-- <br> -->
  </table>
  <hr>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let messages = Array.from(document.querySelectorAll('#django-messages [data-message]')).map(el => el.getAttribute('data-message'));
  });
</script>
{% endblock %}
