{% extends "workshops/author_upload.html" %}
{% load static % }
{% block content %}
  <p class="header-title">Are all the details correct?</p>
  <form id="validation-form" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <fieldset>
      <legend> Paper Data</legend>
    {{ paper_form.as_p}}
    <p>Currently uploaded Paper: {{ paper_form.instance.uploaded_file }}</p>
    <p>Currently uploaded Agreement: {{ paper_form.instance.agreement_file }}</p>
    </fieldset>
    <hr>
    <fieldset>
      <legend>Author(s) Information</legend>
      {{author_formset.as_p}}
    </fieldset>
    <br> 
    <input type="submit" name="confirm_button" class = "button-13" 
    
    value="Confirm">
  </form>
{% endblock %}