


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workshop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'workshops/style.css' %}">
</head>
<body>
    <header class="header-title">
        <!-- Header Content -->CEUR-WS Submission
    </header>

    <nav>
        <!-- Navigation Links -->
    </nav>

    <main>
        {% block content %}
        <form action="{% url 'workshops:create_workshop' %}" method="get">
            <button type="submit" class="button-17">Create New Workshop</button>
          </form>
        

        {% endblock %}
    </main>

    <footer>
        <!-- Footer Content -->
    </footer>
</body>
</html>