{% extends 'workshops/index.html' %}

{% block title %}
Search OpenReview
{% endblock %}

{% block content %}
    Please type the OpenReview <b>URL</b> of your workshop in the search bar.
    <form method="GET" action="{% url 'workshops:open_review_workshop' %}">
        <input type="text" name="query" placeholder="Search OpenReview" value="{{ query }}" required>
        <button type="submit" class="button-13">Search</button>
    </form>

    {% if query %}
        <p>
            No results found in OpenReview database for "{{ query }}". Please try again.    
        </p>
    {% endif %}

    {% if error %}
    {{error}}
    {% endif %}
{% endblock %}
