<!-- workshops/templates/workshops/add_paper.html -->
{% extends "workshops/index.html" %}

{% block content %}
<h1 class="header-title">Add Paper</h1>

<form action="{% url 'workshops:add_paper' %}" method="post">
    {% csrf_token %}
    <label for="paper_title">Paper Title:</label>
    <input type="text" id="paper_title" name="paper_title" class="input-field"><br><br>

    <label for="workshop">Workshop:</label>
    <select id="workshop" name="workshop" class="input-field">
        {% for workshop in workshops %}
        <option value="{{ workshop.id }}">{{ workshop.workshop_title }}</option>
        {% endfor %}
    </select><br><br>

    <label for="author">Author:</label>
    <select id="author" name="author"class="input-field">
        {% for author in authors %}
        <option value="{{ author.id }}">{{ author.author_name }}</option>
        {% endfor %}
    </select><br><br>

    <label for="pages">Pages:</label>
    <input type="text" id="pages" name="pages" class="input-field"><br><br>

    <input type="submit" value="Add Paper" class="button-17">
</form>

{% endblock %}