<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-3 text-center">
    <!-- Success message -->
    <h1>Operation Successful</h1>
    <p>The workshop is available at <a href="/media/Vol-{{workshop.id}}/index.html">media/Vol-{{workshop.id}}/</a>.</p>

    <a id="organizer_url" href="{{ zipped_directory }}" download>Download the zipped directory</a>

    <p>You can safely close the browser tab. </p>

    <div id="django-messages" style="display: none;">
      {% for message in messages %}
      <div data-message="{{ message|escapejs}}">{{ message }}</div>
      {% endfor %}
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let messages = Array.from(document.querySelectorAll('#django-messages [data-message]')).map(el => el.getAttribute('data-message'));
      if (messages.length > 0) {
        alert(messages.join("\n"));
      }
    });
  </script>
</body>

</html>