{%load crispy_forms_tags %}

<style>
    .dropdown-container {
        border: 1px solid #ccc;
        padding: 10px;
        width: auto;
        cursor: pointer;
    }
    </style>
    <div class="dropdown-container">
        <div class="paper-summary dropdown-trigger">
            <span class="paper-title">Edit Workshop & Editor Details</span>
            <i class="arrow down toggle-details"></i>
        </div>
        <div class="paper-details" style="display: none;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="inner_fieldset">
                    <legend>Workshop Details</legend>
                    {{ workshop_form.as_p }}
                    {% if workshop_form.editor_agreement %}
                    <p><strong>Editor agreement:</strong> 
                       <a href="{{ workshop_form.editor_agreement.url }}">
                           {{ workshop.editor_agreement }}
                       </a>
                    </p>
                    {% endif %}
                    {% if workshop_form.preface %}
                    <p><strong>Preface(s):</strong> 
                       <a href="{{ workshop_form.preface.url }}">
                           {{ workshop.preface }}
                       </a>
                    </p>
                    {% endif %}
                    <fieldset class="inner_fieldset">
                        <legend>Editor Details</legend>
                        {{ editor_forms.management_form }}
                        {% for editor_form in editor_forms %}
                        <li class="paper-item">
                            <div class="paper-container">
                                <div class="paper-summary">
                                    <span class="paper-title">{{ editor_form.instance.editor_name }}</span>
                                    <i class="arrow down toggle-details"></i>
                                </div>
                                <div class="paper-details" style="display: none;">
                                    {{ editor_form|crispy }}
                                    {% if not forloop.last %}
                                    <hr>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </fieldset>
                </fieldset>
                <div class="submit-container">
                    <input type="submit" name="submit_button" class="button-13" value="Confirm Editor and Workshop Details">
                </div>
      </form>
    </div>
    </div>
    <br>