{% extends 'workshops/index.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop Overview</title>
    <link rel="stylesheet" href="{% static 'ceur_ws_workshops/workshops/static/workshops/styles.css' %}">
</head>
<body>

    <h1>Workshop Overview</h1>

    {% if edit_mode %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="workshop-details">
            <legend>Workshop Details</legend>

            {{workshop_form.as_p}}

        </fieldset>

        <fieldset class="papers-list">
            <legend>Papers</legend>
            <ul>
                {% for paperform in paper_forms %}
                    <li>
                        {{ paperform.as_p }}
                        {% if paperform.instance.uploaded_file %}
                            <p>Uploaded File: <a href="{{ paperform.instance.uploaded_file.url }}">{{ paperform.instance.uploaded_file.name }}</a></p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </fieldset>
        <input type="submit" name="submit_button" class = "button-13" value="Confirm">
    </form>

    {% else %}
    <fieldset class="workshop-details">
        <legend>Workshop Details</legend>
        <p><strong>Full title:</strong> {{ workshop.workshop_full_title }}</p>
        <p><strong>Shorthand title:</strong> {{ workshop.workshop_short_title }} (<strong>{{ workshop.workshop_acronym}}</strong>)</p>
        <p><strong>Colocated with:</strong> {{ workshop.workshop_colocated }}</p>
        <p><strong>Description:</strong> {{ workshop.workshop_description }}</p>
        <p><strong>Location:</strong> {{ workshop.workshop_city }}, {{ workshop.workshop_country }}</p>
        <p><strong>Dates:</strong> From: {{ workshop.workshop_begin_date }}, Until: {{ workshop.workshop_end_date }}</p>
        <p><strong>Publication year:</strong> {{ workshop.publication_year }}</p>
        <p><strong>Workshop Language:</strong> {{ workshop.workshop_language_iso }}</p>
        <p><strong>Publication Year:</strong> {{ workshop.publication_year }}</p>
        <p><strong>License:</strong> {{ workshop.license }}</p>
        <p><strong>Volume Owner:</strong> {{ workshop.volume_owner }} at {{ workshop.volume_owner_email}}</p>

        <p><strong>Editors:</strong></p>
        <ul class="editors-list">
            {% for editor in workshop.editors.all %}
            <li>{{ editor.name }} (<i>{{ editor.university}}, {{editor.university_country}}</i>)</li>
            {% endfor %}
        </ul>
    </fieldset>

    <fieldset class="papers-list">
        <legend>Papers</legend>
        <ul>
            {% for paper in papers %}
                <li>
                    <p><strong>Paper Title:</strong> {{ paper.paper_title }}</p>
                    <p><strong>Authors:</strong>
                        {% for author in paper.authors.all %}
                            {{ author.author_name }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><strong>Pages:</strong> {{ paper.pages }}</p>
                    <p><strong>Uploaded File:</strong> <a href="{{ paper.uploaded_file.url }}" target="_blank">{{ paper.uploaded_file.name }}</a></p>
                    <!-- Add additional details as needed -->
                </li>
            {% endfor %}
        </ul>
    </fieldset>

    <br>
    <form method="post" id="form-container" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" name="submit_button" class = "button-13" value="Edit">
        <input type="submit" name="submit_button" class = "button-13" value="Submit Workshop">
    </form>
    {% endif %}

</body>
</html>
{% endblock %}
